<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <title>US Core SMART Scopes - HealtheData1 USCDI4 Sandbox v0.0.0</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="http://hl7.org/fhir"/>

    <link href="fhir.css" rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap-fhir.css" rel="stylesheet"/>

    <!-- Project extras -->
    <link href="assets/css/project.css" rel="stylesheet"/>
    <link href="assets/css/pygments-manni.css" rel="stylesheet"/>
    <link href="assets/css/jquery-ui.css" rel="stylesheet"/>
  	<link href="assets/css/prism.css" rel="stylesheet" />
    <!-- Placeholder for child template CSS declarations -->

    <script type="text/javascript" src="fhir-table-scripts.js"> </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="fhir-logo" sizes="144x144" href="assets/ico/icon-fhir-144.png"/>
    <link rel="fhir-logo" sizes="114x114" href="assets/ico/icon-fhir-114.png"/>
    <link rel="fhir-logo" sizes="72x72" href="assets/ico/icon-fhir-72.png"/>
    <link rel="fhir-logo" href="assets/ico/icon-fhir-57.png"/>
    <link rel="shortcut icon" href="assets/ico/favicon.png"/>
  </head>
  <body onload="document.body.style.opacity='1'">

	  <script src="assets/js/prism.js"></script>

    <style type="text/css">h2{--heading-prefix:"3.1"}
    h3,h4,h5,h6{--heading-prefix:"3.1"}</style>
    <div id="segment-header" class="segment">  <!-- segment-header -->
      <div class="container">  <!-- container -->
        <!-- Placeholder for child template header declarations -->


        <div id="ig-status">
          <p><span style="font-size:12pt;font-weight:bold">HealtheData1 USCDI4 Sandbox</span>
            <br/>
            <span style="display:inline-block;">0.0.0 - CI Build



  <img alt="United States of America flag" src="assets/images/usa.svg" height="16" title="United States of America"/>


            </span>
          </p>
        </div>
      </div> <!-- /container -->
    </div>  <!-- /segment-header -->

    <div id="segment-navbar" class="segment">  <!-- segment-navbar -->
      <div id="stripe"> </div>
      <div class="container">  <!-- container -->
        <!-- HEADER CONTENT -->

        <nav class="navbar navbar-inverse">
          <!--status-bar-->
          <div class="container">
            <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
            </button>
            <a class="navbar-brand hidden" href="http://hl7.org/fhir/R4/index.html">FHIR</a>
            <div class="nav-collapse collapse navbar-inverse-collapse">
              <!-- menu.xml  -->

<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">IG Home</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Guidance
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="guidance.html">General Guidance</a>
      </li>
      <li>
        <a href="scopes.html">US Core SMART Scopes</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="future.html">Future</a>
  </li>
  <li>
    <a href="screening-and-assessments.html">Screening and Assessments</a>
  </li>
  <li>
    <a href="artifacts.html">Artifact Index</a>
  </li>
  <li>
    <a href="downloads.html">Downloads</a>
  </li>
  <li>
    <a href="changes.html">Change Log</a>
  </li>
  <li>
    <a href="ImplementationGuide.html">IG Page</a>
  </li>
</ul>
            </div>  <!-- /.nav-collapse -->
          </div>  <!-- /.container -->
        </nav>  <!-- /.navbar -->
      <!-- /HEADER CONTENT -->
      </div>  <!-- /container -->
    </div>  <!-- /segment-navbar -->
    <!--status-bar-->

    <div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
      <div class="container">  <!-- container -->
        <ul class="breadcrumb">
          <li><a href='toc.html'><b>Table of Contents</b></a></li><li><a href='guidance.html'><b>Guidance</b></a></li><li><b>US Core SMART Scopes</b></li>

        </ul>
      </div>  <!-- /container -->
    </div>  <!-- /segment-breadcrumb -->

    <a name="top"> </a>
    <div id="segment-content" class="segment">  <!-- segment-content -->
      <div class="container">  <!-- container -->
        <div class="row">
          <div class="inner-wrapper">

<style type="text/css">
h2:before{color:silver;counter-increment:section;content:var(--heading-prefix) " ";}
h3:before{color:silver;counter-increment:sub-section;content:var(--heading-prefix) "." counter(sub-section) " ";}
h4:before{color:silver;counter-increment:composite;content:var(--heading-prefix) "." counter(sub-section) "." counter(composite) " ";}
h5:before{color:silver;counter-increment:detail;content:var(--heading-prefix) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";}
h6:before{color:silver;counter-increment:more-detail;content:var(--heading-prefix) "." counter(sub-section) "." counter(composite) "." counter(detail) "." counter(more-detail)" ";}
</style>
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">HealtheData1 USCDI4 Sandbox - Local Development build (v0.0.0) built by the FHIR (HL7® FHIR® Standard) Build Tools. See the <a href="http://www.fhir.org/guides/uscdi4-sandbox/history.html">Directory of published versions</a></p><!--EndReleaseHeader-->
  <h2>US Core SMART Scopes</h2>
  





  <table class="colsi">
    <tr>
  
      <td>
        <i>Page standards status:</i> <a href="http://hl7.org/fhir/R4/versions.html#std-process" title="Standard Status">Informative</a>
        
      </td>
  
  
    </tr>
  </table>








    <p><!-- white space is critical inside of capture --></p>
<div class="markdown-toc">
<ul id="markdown-toc">
  <li><a href="#smart-on-fhir-server-capabilities" id="markdown-toc-smart-on-fhir-server-capabilities">SMART on FHIR Server Capabilities</a>    <ul>
      <li><a href="#servers-shall-support-the-following-smart-on-fhir-capabilities" id="markdown-toc-servers-shall-support-the-following-smart-on-fhir-capabilities">Servers SHALL support the following SMART on FHIR capabilities*:</a></li>
      <li><a href="#servers-shall-support-token-introspection" id="markdown-toc-servers-shall-support-token-introspection">Servers SHALL support Token introspection</a></li>
      <li><a href="#smart-scopes" id="markdown-toc-smart-scopes">SMART Scopes</a></li>
      <li><a href="#servers-shall-support-the-following-metadata-in-their-well-knownsmart-configuration" id="markdown-toc-servers-shall-support-the-following-metadata-in-their-well-knownsmart-configuration">Servers SHALL support the following metadata in their <code class="language-plaintext highlighter-rouge">/.well-known/smart-configuration</code></a></li>
    </ul>
  </li>
</ul>

</div>

<p class="new-content">This page is new content for US Core Version 7.0.0</p>

<h2 id="smart-on-fhir-server-capabilities">SMART on FHIR Server Capabilities</h2>

<p>intro text  … Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla dui, dignissim sed ultrices vel, ultricies non mauris. Vestibulum sit amet lorem interdum, consequat urna eu, rutrum sapien. Morbi scelerisque, purus non volutpat maximus, orci massa congue nisl, nec lobortis nunc eros et leo.</p>
<h3 id="servers-shall-support-the-following-smart-on-fhir-capabilities">Servers SHALL support the following SMART on FHIR capabilities*:</h3>

<p>intro text  … Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla dui, dignissim sed ultrices vel, ultricies non mauris. Vestibulum sit amet lorem interdum, consequat urna eu, rutrum sapien. Morbi scelerisque, purus non volutpat maximus, orci massa congue nisl, nec lobortis nunc eros et leo.</p>

<ol>
  <li><code class="language-plaintext highlighter-rouge">launch-standalone</code></li>
  <li><code class="language-plaintext highlighter-rouge">context-standalone-patient</code></li>
  <li><code class="language-plaintext highlighter-rouge">permission-patient</code></li>
  <li>…</li>
</ol>

<p>*these encompass all the capability sets listed in SMART</p>

<h3 id="servers-shall-support-token-introspection">Servers SHALL support Token introspection</h3>

<p>intro text  … Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla dui, dignissim sed ultrices vel, ultricies non mauris. Vestibulum sit amet lorem interdum, consequat urna eu, rutrum sapien. Morbi scelerisque, purus non volutpat maximus, orci massa congue nisl, nec lobortis nunc eros et leo.</p>

<h3 id="smart-scopes">SMART Scopes</h3>

<p>To meet the ONC’s granular scope requirement in [HTA-1 proposed rule], the US Core API requires servers to support both [resource level scopes] and [granular scopes] as defined in Version 2.0.0 of [SMART App Launch]. US Core clients should follow the [principle of least privilege] and access only the necessary resources. In other words, if a client needs only vital sign observations, it should request access only to Observations with a category of “vital-signs”. US Core requires scopes (SHALL) <strong><em>named in the HTA-1 final rule, which requires support for Condition and Observation category scopes, and recommends (SHOULD) granular scopes for specific US Core Profiles defined in US Core and of particular interest to US citizens and health systems.</em></strong></p>

<p><strong><em>Future versions of US Core will add required granular scopes based on current or pending federal regulations, and will add recommended granular scopes when formally propose new profile with new categories.</em></strong></p>

<h4 id="scopes-format">Scopes Format</h4>
<p>Version 2.0.0 of [SMART App Launch] introduced a scope syntax of: <code class="language-plaintext highlighter-rouge">&lt;patient|user|system&gt; / &lt;fhir-resource&gt;. &lt;c | r | u | d |s&gt; [?param=value]</code></p>

<p>For example, to limit read and search access to a specific patient’s laboratory observations but not other observations, the server grants the following scope:</p>

<p><code class="language-plaintext highlighter-rouge">patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|laboratory</code>.</p>

<p>This example scopes uses a <code class="language-plaintext highlighter-rouge">patient/</code> prefix, but implementers can also support <code class="language-plaintext highlighter-rouge">system/</code> and <code class="language-plaintext highlighter-rouge">user/</code>.</p>

<h4 id="us-core-scopes">US Core Scopes</h4>

<p>The table below summarizes the US Core scope requirements (<strong>SHALL</strong>) and best practice recommendations (<strong>SHOULD</strong>) for both resource-level and granular scopes. The same information can be found in each US Core Profile page’s “Quick Start” section.</p>

<h5 id="the-following-resource-level-scopes-shall-be-supported">The Following Resource Level Scopes <strong>SHALL</strong> Be Supported</h5>

<!-- This liquid script creates a US Core scope requirements table using input data from input/data/scopes.csv
include parameters: conformance='SHALL'|'SHOULD' and crud='cruds' not currently used -->

<table class="grid">
<thead>
<tr>
<th>Resource Type</th>
<th>Resource Level Scope</th>
</tr>
</thead>
<tbody>
<tr>
<td>AllergyIntolerance</td>
<td><code>patient/AllergyIntolerance.rs</code></td>
</tr>
<tr>
<td>CarePlan</td>
<td><code>patient/CarePlan.rs</code></td>
</tr>
<tr>
<td>CareTeam</td>
<td><code>patient/CareTeam.rs</code></td>
</tr>
<tr>
<td>Condition</td>
<td><code>patient/Condition.rs</code></td>
</tr>
<tr>
<td>Coverage</td>
<td><code>patient/Coverage.rs</code></td>
</tr>
<tr>
<td>Device</td>
<td><code>patient/Device.rs</code></td>
</tr>
<tr>
<td>DiagnosticReport</td>
<td><code>patient/DiagnosticReport.rs</code></td>
</tr>
<tr>
<td>DocumentReference</td>
<td><code>patient/DocumentReference.rs</code></td>
</tr>
<tr>
<td>Encounter</td>
<td><code>patient/Encounter.rs</code></td>
</tr>
<tr>
<td>Goal</td>
<td><code>patient/Goal.rs</code></td>
</tr>
<tr>
<td>Immunization</td>
<td><code>patient/Immunization.rs</code></td>
</tr>
<tr>
<td>MedicationDispense</td>
<td><code>patient/MedicationDispense.rs</code></td>
</tr>
<tr>
<td>MedicationRequest</td>
<td><code>patient/MedicationRequest.rs</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs</code></td>
</tr>
<tr>
<td>Organization</td>
<td><code>patient/Organization.rs</code></td>
</tr>
<tr>
<td>Patient</td>
<td><code>patient/Patient.rs</code></td>
</tr>
<tr>
<td>Practitioner</td>
<td><code>patient/Practitioner.rs</code></td>
</tr>
<tr>
<td>PractitionerRole</td>
<td><code>patient/PractitionerRole.rs</code></td>
</tr>
<tr>
<td>Procedure</td>
<td><code>patient/Procedure.rs</code></td>
</tr>
<tr>
<td>Provenance</td>
<td><code>patient/Provenance.rs</code></td>
</tr>
<tr>
<td>QuestionnaireResponse</td>
<td><code>patient/QuestionnaireResponse.rs</code></td>
</tr>
<tr>
<td>RelatedPerson</td>
<td><code>patient/RelatedPerson.rs</code></td>
</tr>
<tr>
<td>ServiceRequest</td>
<td><code>patient/ServiceRequest.rs</code></td>
</tr>
<tr>
<td>Specimen</td>
<td><code>patient/Specimen.rs</code></td>
</tr>

</tbody>
</table>

<h5 id="the-following-granular-scopes-shall-be-supported">The Following Granular Scopes <strong>SHALL</strong> Be Supported</h5>

<!-- This liquid script creates a US Core scope requirements table using input data from input/data/scopes.csv 
include parameters: conformance='SHALL'|'SHOULD' see below for how used, and crud='cruds' not currently used -->

<!--   
<table class="grid">
<thead>
<tr>
<th>Resource Type</th>
<th>Granular Scope</th>
</tr>
</thead>
<tbody>
{% for scope in scopes -%}
<tr>
<td>{{scope | split: '.' | first }}</td>
<td><code>{{ scope | prepend: 'patient/' }}</code></td>
</tr>
{% endfor %}
</tbody>
</table>
 -->

<table class="grid">
<thead>
<tr>
<th>Resource Type</th>
<th>Granular Scope</th>
</tr>
</thead>
<tbody>
<tr>
<td>Condition</td>
<td><code>patient/Condition.rs?category=http://hl7.org/fhir/us/core/CodeSystem/condition-category|health-concern</code></td>
</tr>
<tr>
<td>Condition</td>
<td><code>patient/Condition.rs?category=http://terminology.hl7.org/CodeSystem/condition-category|encounter-diagnosis</code></td>
</tr>
<tr>
<td>Condition</td>
<td><code>patient/Condition.rs?category=http://terminology.hl7.org/CodeSystem/condition-category|problem-list-item</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|sdoh</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://terminology.hl7.org//CodeSystem-observation-category|social-history</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|imaging</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|laboratory</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|procedure</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|survey</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|vital-signs</code></td>
</tr>

</tbody>
</table>

<h5 id="the-following-granular-scopes-should-be-supported">The Following Granular Scopes <strong>SHOULD</strong> Be Supported</h5>

<!-- This liquid script creates a US Core scope requirements table using input data from input/data/scopes.csv 
include parameters: conformance='SHALL'|'SHOULD' see below for how used, and crud='cruds' not currently used -->

<!--   
<table class="grid">
<thead>
<tr>
<th>Resource Type</th>
<th>Granular Scope</th>
</tr>
</thead>
<tbody>
{% for scope in scopes -%}
<tr>
<td>{{scope | split: '.' | first }}</td>
<td><code>{{ scope | prepend: 'patient/' }}</code></td>
</tr>
{% endfor %}
</tbody>
</table>
 -->

<table class="grid">
<thead>
<tr>
<th>Resource Type</th>
<th>Granular Scope</th>
</tr>
</thead>
<tbody>
<tr>
<td>DiagnosticReport</td>
<td><code>patient/DiagnosticReport.rs?category=http://loinc.org|LP29684-5</code></td>
</tr>
<tr>
<td>DiagnosticReport</td>
<td><code>patient/DiagnosticReport.rs?category=http://loinc.org|LP29708-2</code></td>
</tr>
<tr>
<td>DiagnosticReport</td>
<td><code>patient/DiagnosticReport.rs?category=http://loinc.org|LP7839-6</code></td>
</tr>
<tr>
<td>DiagnosticReport</td>
<td><code>patient/DiagnosticReport.rs?category=http://terminology.hl7.org/CodeSystem/v2-0074|LAB</code></td>
</tr>
<tr>
<td>DocumentReference</td>
<td><code>patient/DocumentReference.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-documentreference-category|clinical-note</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=BAR</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=FOO</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|care-experience-preference</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|cognitive-status</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|disability-status</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|functional-status</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|treatment-intervention-preference</code></td>
</tr>
<tr>
<td>Observation</td>
<td><code>patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|activity</code></td>
</tr>
<tr>
<td>ServiceRequest</td>
<td><code>patient/ServiceRequest.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|functional-status</code></td>
</tr>
<tr>
<td>ServiceRequest</td>
<td><code>patient/ServiceRequest.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|sdoh</code></td>
</tr>
<tr>
<td>ServiceRequest</td>
<td><code>patient/ServiceRequest.rs?category=http://snomed.info/sct|surgical-procedure</code></td>
</tr>

</tbody>
</table>

<h3 id="servers-shall-support-the-following-metadata-in-their-well-knownsmart-configuration">Servers SHALL support the following metadata in their <code class="language-plaintext highlighter-rouge">/.well-known/smart-configuration</code></h3>

<p>In addition to the capabilities defined in the server’s CapabilityStatement,
servers <strong>SHALL</strong> document their SMART capabilities in the <code class="language-plaintext highlighter-rouge">.well-known/smart-configuration</code>.</p>

<h4 id="required-metadata-inherited-from-smart">Required Metadata Inherited from SMART:</h4>

<p>The following metadata is inherited from SMART.</p>

<ul>
  <li><code class="language-plaintext highlighter-rouge">issuer</code> (conditional)</li>
  <li><code class="language-plaintext highlighter-rouge">jwks_uri</code> (conditional)</li>
  <li><code class="language-plaintext highlighter-rouge">authorization_endpoint</code></li>
  <li><code class="language-plaintext highlighter-rouge">grant_types_supported</code></li>
  <li><code class="language-plaintext highlighter-rouge">token_endpoint</code></li>
  <li><code class="language-plaintext highlighter-rouge">capabilities</code></li>
  <li><code class="language-plaintext highlighter-rouge">code_challenge_methods_supported</code></li>
</ul>

<h4 id="additional-us-core-requirements">Additional US Core requirements</h4>

<ul>
  <li><code class="language-plaintext highlighter-rouge">scopes_supported</code> : Servers <strong>SHALL</strong> document supported scopes as an array in in the file
    <ul>
      <li>
        <p>The server <strong>SHALL</strong> support all scopes listed in the table above for the US Core Profiles they support; additional scopes <strong>MAY</strong> be supported (so clients should not consider this an exhaustive list).</p>
      </li>
      <li>
        <p>Servers <strong>MAY</strong> limit clients’ scopes to those configured at registration time. Servers <strong>SHALL</strong> allow users to select a subset of the requested scopes at the approval time. The app <strong>SHOULD</strong> inspect the returned scopes and accommodate the differences from the scopes it requested and registered.</p>
      </li>
    </ul>
  </li>
  <li><code class="language-plaintext highlighter-rouge">introspection_endpoint</code>: Servers <strong>SHALL</strong> document this endpoint in the file</li>
</ul>

<h4 id="example-well-knownsmart-configuration-file">Example <code class="language-plaintext highlighter-rouge">.well-known/smart-configuration</code> File</h4>

<p>This example <code class="language-plaintext highlighter-rouge">.well-known/smart-configuration</code> file contains all the US Core scopes listed in the capabilities array.  See the [SMART App Launch] Implementation Guide for more example and details.</p>

<div class="language-http highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">HTTP</span><span class="o">/</span><span class="m">1.1</span> <span class="m">200</span> <span class="ne">OK</span>
<span class="na">Content-Type</span><span class="p">:</span> <span class="s">application/json</span>
</code></pre></div></div>

<!-- This liquid script creates a US Core scope requirements table using input data from input/data/scopes.csv 
include parameters: conformance='SHALL'|'SHOULD' see below for how used, and crud='cruds' not currently used -->

<!--   
<table class="grid">
<thead>
<tr>
<th>Resource Type</th>
<th>Granular Scope</th>
</tr>
</thead>
<tbody>
{% for scope in scopes -%}
<tr>
<td>{{scope | split: '.' | first }}</td>
<td><code>{{ scope | prepend: 'patient/' }}</code></td>
</tr>
{% endfor %}
</tbody>
</table>
 -->

<div class="language-json highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="p">{</span><span class="w">
  </span><span class="nl">"issuer"</span><span class="p">:</span><span class="w"> </span><span class="s2">"https://ehr.example.com"</span><span class="p">,</span><span class="w">
  </span><span class="nl">"jwks_uri"</span><span class="p">:</span><span class="w"> </span><span class="s2">"https://ehr.example.com/.well-known/jwks.json"</span><span class="p">,</span><span class="w">
  </span><span class="nl">"authorization_endpoint"</span><span class="p">:</span><span class="w"> </span><span class="s2">"https://ehr.example.com/auth/authorize"</span><span class="p">,</span><span class="w">
  </span><span class="nl">"token_endpoint"</span><span class="p">:</span><span class="w"> </span><span class="s2">"https://ehr.example.com/auth/token"</span><span class="p">,</span><span class="w">
  </span><span class="nl">"token_endpoint_auth_methods_supported"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
    </span><span class="s2">"client_secret_basic"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"private_key_jwt"</span><span class="w">
  </span><span class="p">],</span><span class="w">
  </span><span class="nl">"grant_types_supported"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
    </span><span class="s2">"authorization_code"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"client_credentials"</span><span class="w">
  </span><span class="p">],</span><span class="w">
  </span><span class="nl">"registration_endpoint"</span><span class="p">:</span><span class="w"> </span><span class="s2">"https://ehr.example.com/auth/register"</span><span class="p">,</span><span class="w">
  </span><span class="nl">"scopes_supported"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
    </span><span class="s2">"openid"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"profile"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"launch"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"launch/patient"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"offline_access"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Condition.rs?category=http://hl7.org/fhir/us/core/CodeSystem/condition-category|health-concern"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Condition.rs?category=http://terminology.hl7.org/CodeSystem/condition-category|encounter-diagnosis"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Condition.rs?category=http://terminology.hl7.org/CodeSystem/condition-category|problem-list-item"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/DiagnosticReport.rs?category=http://loinc.org|LP29684-5"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/DiagnosticReport.rs?category=http://loinc.org|LP29708-2"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/DiagnosticReport.rs?category=http://loinc.org|LP7839-6"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/DiagnosticReport.rs?category=http://terminology.hl7.org/CodeSystem/v2-0074|LAB"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/DocumentReference.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-documentreference-category|clinical-note"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=BAR"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=FOO"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|care-experience-preference"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|cognitive-status"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|disability-status"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|functional-status"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|sdoh"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|treatment-intervention-preference"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://terminology.hl7.org//CodeSystem-observation-category|social-history"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|activity"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|imaging"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|laboratory"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|procedure"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|survey"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/Observation.rs?category=http://terminology.hl7.org/CodeSystem/observation-category|vital-signs"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/ServiceRequest.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|functional-status"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/ServiceRequest.rs?category=http://hl7.org/fhir/us/core/CodeSystem/us-core-category|sdoh"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"patient/ServiceRequest.rs?category=http://snomed.info/sct|surgical-procedure"</span><span class="w">

  </span><span class="p">],</span><span class="w">
  </span><span class="nl">"response_types_supported"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s2">"code"</span><span class="p">],</span><span class="w">
  </span><span class="nl">"management_endpoint"</span><span class="p">:</span><span class="w"> </span><span class="s2">"https://ehr.example.com/user/manage"</span><span class="p">,</span><span class="w">
  </span><span class="nl">"introspection_endpoint"</span><span class="p">:</span><span class="w"> </span><span class="s2">"https://ehr.example.com/user/introspect"</span><span class="p">,</span><span class="w">
  </span><span class="nl">"revocation_endpoint"</span><span class="p">:</span><span class="w"> </span><span class="s2">"https://ehr.example.com/user/revoke"</span><span class="p">,</span><span class="w">
  </span><span class="nl">"code_challenge_methods_supported"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s2">"S256"</span><span class="p">],</span><span class="w">
  </span><span class="nl">"capabilities"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
    </span><span class="s2">"launch-ehr"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"permission-patient"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"permission-v2"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"client-public"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"client-confidential-symmetric"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"context-ehr-patient"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"sso-openid-connect"</span><span class="w">
  </span><span class="p">]</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre></div></div>




</div>
        </div>  <!-- /inner-wrapper -->
      </div>  <!-- /row -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-content -->

  <script type="text/javascript" src="assets/js/jquery.js"> </script>     <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
  <script type="text/javascript" src="assets/js/jquery-ui.min.js"> </script>

  <script type="text/javascript">
    $(document).ready(function(){
      if(window.location.hash != "") {
          $('a[href="' + window.location.hash + '"]').click()
      }
    });
  </script>
  <a name="bottom"> </a>
  <div id="segment-footer" igtool="footer" class="segment">  <!-- segment-footer -->
    <div class="container">  <!-- container -->

      <div class="inner-wrapper">
        <p>
          IG &#169; 2020+ <a style="color:var(--footer-hyperlink-text-color)" href="mailto:ehaas@healthedatainc.com">Health eData Inc</a>.  Package uscdi4-sandbox#0.0.0 based on <a style="color: var(--footer-hyperlink-text-color)" href="http://hl7.org/fhir/R4/">FHIR 4.0.1</a>. Generated <span title="Tue, Feb 20, 2024 19:37+0000">2024-02-20</span>
          <br/>
          <span style="color: var(--footer-highlight-text-color)">
                      Links: <a style="color: var(--footer-hyperlink-text-color)" href="toc.html">Table of Contents</a> |
                 <a style="color: var(--footer-hyperlink-text-color)" href="qa.html">QA Report</a>
                 
                
          </span>
        </p>
      </div>  <!-- /inner-wrapper -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-footer -->
  
  <div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
    <div class="container">  <!-- container -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-post-footer -->
  
  <!-- JS and analytics only. -->
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="assets/js/bootstrap.min.js"> </script>
  <script type="text/javascript" src="assets/js/respond.min.js"> </script>
  <script type="text/javascript" src="assets/js/anchor.min.js"> </script>
  <script type="text/javascript" src="assets/js/clipboard.min.js"> </script>
  <script type="text/javascript" src="assets/js/clipboard-btn.js"> </script>
  <script>anchors.options.visible = 'hover'
anchors.add()</script>
  
<!-- feedback form - Google forms -->
<!-- v0.1, 2021-01-09 -->



<!-- / feedback form  -->

  <!-- Analytics Below
  ================================================== -->
  </body>
</html>

